* {
    margin: 0%;
    box-sizing: border-box;
}

.navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000000;
    z-index: 1;
}

.navbar img {
    height: 50px;
    width: 270px;
    justify-self: flex-start;
    box-sizing: content-box;
}

.navlog {
    width: 30%;
    margin-left: 3%;
}

.navbut {
    width: 50%;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    transition: .5s;
}

.navbar a:hover {
    color: #FF4100;
    font-weight: bold;
}

.fafa {
    background-color: #000000;
    color: #ffffff;
}

#home {
    background-image: url("https://images.wallpaperscraft.com/image/single/keyboard_laptop_gradient_203739_3840x2160.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    position: relative;
}

#home div:nth-of-type(1) {
    font-size: 250%;
}

#home div:nth-of-type(2) {
    font-size: 200%;
}

#home div:nth-of-type(3) {
    font-size: 350%;

}

#about {
    padding-top: 70px;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about h1 {
    font-size: 500%;
    padding-top: 2%;
    padding-bottom: 4%;
}


#about img {
    height: 300px;
    padding-bottom: 4%;
    padding-top: 1%;
}

#about p {
    padding-top: 1%;
    font-size: 200%;
    color: #00000077;
    text-align: center;
}

#about p span {
    color: #FF4100;
}

@media screen and (max-width: 950px) {
    .navbut {
        display: none;
    }

    .fafa {
        padding: 16px;
        font-size: 25px;
        border: none;
    }

    .fafa:hover {
        color: #FF4100;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000000;
        min-width: 160px;
        z-index: 1;
        right: 0;
    }

    .dropdown-content a {
        color: #ffffff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #home div:nth-of-type(1) {
        font-size: 200%;
    }

    #home div:nth-of-type(2) {
        font-size: 150%;
    }

    #home div:nth-of-type(3) {
        font-size: 300%;

    }

}

@media screen and (min-width: 951px) {

    .fafa,
    .dropdown-content {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .navbar img {
        height: 40px;
        width: 200px;
    }

    #home div:nth-of-type(1) {
        font-size: 200%;
    }

    #home div:nth-of-type(2) {
        font-size: 150%;
    }

    #home div:nth-of-type(3) span {
        font-size: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about h1 {
        font-size: 325%;
    }

    #about img {
        height: 225px;
    }

    #about p {
        font-size: 125%;
    }

}