* {
    margin: 0%;
    box-sizing: border-box;
}

.navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar img {
    height: 40px;
    width: 270px;
    justify-self: flex-start;
    box-sizing: content-box;
}

.navlog {
    width: 30%;
    margin-left: 3%;
}

.navbut {
    width: 50%;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    font-size: 20px;
    color: #00000077;
    transition: .5s;
}

.navbar a:hover {
    color: #FF4100;
    font-weight: bold;
}

.fafa {
    color: #00000077;
    font-size: larger;
    margin-right: 5%;
    border: 0px;
    background-color: #ffffff;
}

@media screen and (max-width: 950px) {
    .navbut {
        display: none;
    }

    .fafa {
        background-color: #ffffff;
        padding: 16px;
        font-size: 25px;
        border: none;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        z-index: 1;
        right: 0;
    }

    .dropdown-content a {
        color: #00000077;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
}


@media screen and (min-width: 951px) {

    .fafa,
    .dropdown-content {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .navbar img {
        height: 30px;
        width: 200px;
    }
}